.home__background-container {
  position: relative;
}

.home__background {
  max-width: 100%;
}

.home__greeting {
  font-size: 1.2rem;
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
}

.home__greeting__text {
  /* animation: animated-text 2s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29) infinite; */
  /* border-right: solid 3px rgb(255, 255, 255); */
  white-space: nowrap;
  overflow: hidden;
  color: white;
  color: rgb(242, 160, 84);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.521);
}

/* @keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 280px;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: rgb(255, 255, 255);
  }
  to {
    border-right-color: transparent;
  }
} */

@media (max-width: 412px) {
  .home__greeting__text {
  font-size: 1.4rem;
  top: 30%;
  }
}

.fa-chevron-down {
  position: fixed;
  bottom: 0;
  z-index: 5;
  animation: updown 2s ease infinite;
  color: rgba(61, 92, 104, 0.8);
}

@keyframes updown {
  0% {
    transform: translateY(-8%);
  }

  50% {
    transform: translateY(8%);
  }

  100% {
    transform: translateY(-8%);
  }
}
