#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  /* width: min-content; */
  color: rgb(202, 202, 202);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.25rem;
  padding: 1.5rem;
}

#modal-content ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-end: 0;
  padding: 0;
}
