.footer {
  background-color: rgb(236, 250, 255, 0.8);
  box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
  height: 3rem;
}

.footer__text-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.footer__text {
  padding: 0.1rem 0.25rem 0 0;
}

.footer__icon {
  color: rgb(0, 102, 153);
  padding: 0 0.25rem;
}

.footer__icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.5s;
}
