html {
  font-family: 'Spartan', sans-serif;
}

body {
  margin: 0;
}

.home__background-container {
  position: relative;
}

.home__background {
  max-width: 100%;
}

.fa-chevron-down {
  position: fixed;
  bottom: 0;
  left: 49%;
  z-index: 1;
  animation: updown 2s ease infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-8%);
  }

  50% {
    transform: translateY(8%);
  }

  100% {
    transform: translateY(-8%);
  }
}
