.site-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  background-color: rgb(236, 250, 255, 0.8);
  backdrop-filter: blur(6px);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-family: 'Spartan', sans-serif;
  color: rgb(0, 102, 153);
  text-decoration: none;
}

.nav {
  display: block;
}

.nav__wrapper {
  display: flex;
  list-style: none;
  box-sizing: border-box;
}

.nav__item {
  margin: 0 0.5rem;
  position: relative;
}

.navbar__dropdown {
  list-style: none;
  position: absolute;
  right: 0;
  left: auto;
  padding-inline-start: 0;
  background-color: rgba(0, 29, 41, 0.719);
  margin-top: 0.1rem;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  border-radius: 2rem 0.25rem 2rem 0.25rem;
  font-weight: 600;
}

.navbar__dropdown-collapse {
  /* right: auto; */
  margin-top: 1.3rem;
}

.navbar__dropdown__info {
  color: rgb(202, 202, 202);
  padding: 0.25rem;
}
.navbar__dropdown__button {
  color: rgb(52, 168, 226);
  margin: 0.25rem;
}

button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}
